# Secrets for authentication using CHAP
# client\tserver\tsecret\t\t\tIP addresses

{% for user in users_list %}
{{ user.username }} l2tpd {{ user.password }}   *
{{ user.username }} pptpd {{ user.password }}   *
{% endfor %}